.TARDIS1
{
  color: blue;
  text-align: center;  
  font-family: Minecraftia;
}

.TARDIS2
{
  color: silver;
  text-align: center;
  font-family: Minecraftia;
}

.TARDIS3
{
  color: gray;
  text-align: center;
}
